.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 0rem;
      right: 2rem;
      font-size: 4rem;
      color: $color-gray-dark-2;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $primary-color;
    }
  }

  &__content {
    @include centered;
    background-color: $color-white;
    max-width: 100%;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 35fr 65fr;
  }

  &__img-box {
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }

  &__text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 3rem 0 5rem 0;
  }
}

.btn {
  text-align: center;
}
