.center-text {
  text-align: center;
}

.padding-small {
  padding: 3.2rem;
}

.padding-medium {
  padding: 4.6rem;
}

.padding-big {
  padding: 7.2rem;
}

.mini-margin-bottom {
  margin-bottom: 2rem !important;
}

.small-margin-bottom {
  margin-bottom: 3.6rem !important;
}

.medium-margin-bottom {
  margin-bottom: 6.4rem !important;
}

.big-margin-bottom {
  margin-bottom: 8rem !important;
}

.margin-top-small {
  margin-top: 4rem !important;
}

.margin-top-big {
  margin-top: 8rem !important;
}
